<fieldset>
  <legend>All Shops Confirming Your Search</legend>
	<table class="table">
		  <tr>
        <td><%= customers.name%> &nbsp&nbsp&nbsp</td>
        <td><%= customers.city%> &nbsp&nbsp&nbsp</td>
        <td><%= customers.area%> &nbsp&nbsp&nbsp</td>
        <td><%= customers.created_at %>  &nbsp&nbsp&nbsp</td>
        <td><%= customers.updated_at %> &nbsp&nbsp&nbsp</td>
      </td>
	</table>
</fieldset>
