<td><%= sales.name%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
<td><%= sales.contact%> &nbsp&nbsp&nbsp</td>
<td><%= sales.email%> &nbsp&nbsp&nbsp</td>
<td><%= sales.created_at %>  &nbsp&nbsp&nbsp</td>
<td><%= sales.updated_at %> &nbsp&nbsp&nbsp</td>
<td><a class="delete" data-id= '<%= sales._id %>'>Delete</a> &nbsp&nbsp&nbsp</td>
