<%= form_for :sales , url: customers_search_url  do |f| %>
<fieldset>
  <legend>Shop Search  Desk</legend>
<p>
  <%= f.label :name %><br>
  <%= text_field_tag :name %>
</p>

<p>
  <%= f.label "city:" %><br><br>
  <%= select_tag :city ,options_for_select(@city_names)%>
</p>

<p>
  <%= f.label :area %><br><br>
  <%= select_tag :area,options_for_select(@area_names)%>
</p>

<p>
  <%= f.label "category:" %><br><br>
  <%= select_tag :category, options_for_select(@category_names) %>
</p>

<p>
  <br>
  <br>
  <%= f.submit "Search for Shop" %>
  <br>
</p>

</fieldset>
<% end %>
