<%= form_for :sales , url:edit_sales_url   do |f| %>
<fieldset>
  <legend>Shop Edit Desk</legend>
<p>
  <%= f.label :name %><br>
  <%= text_field_tag :name ,@shop.name %>
</p>

<p>
  <%= f.label "city:" %><br><br>
  <%= select_tag :city ,options_for_select(@city_names)%>
</p>

<p>
  <%= hidden_field_tag :shop_id ,"#{@shop.id}" %>
</p>

<p>
  <%= f.label :area %><br><br>
  <%= select_tag :area,options_for_select(@area_names)%>
</p>

<p>
  <%= f.label "category:" %><br><br>
  <%= select_tag :category,options_for_select(@category_names) %>
</p>

<p>
  <%= f.label "category:" %><br><br>
  <%= select_tag :sub_category,options_for_select(@sub_category_names) %>
</p>

<p>
  <br>
  <br>
  <%= f.submit "Submit New Details" %>
  <br>
</p>

</fieldset>
<% end %>
